<h2>Add a Report</h2>
<form action="/reports" method="POST">
  <p>Please submit your report: <input type="text" name="content"></p>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>