  
<p><%= @report.content %>

<form method="post" action="/reports/<%=@report.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Report">
</form>

<a href="/reports/<%=@report.id%>/edit">Edit Report </a></br>

<a href="/create_report"> Create Another Report </a></br>

<a href="/reports"> All Reports</a>